@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.fire {
    background-color: rgb(234 88 12);
}
.water {
    background-color: rgb(14 165 233);
}
.grass {
    background-color: rgb(163 230 53);
}
.bug {
    background-color: rgb(54 83 20);
}
.normal {
    background-color: rgb(249 168 212);
}
.poison {
    background-color: rgb(109 40 217);
}
.electric {
    background-color: rgb(250 204 21);
}
.ground {
    background-color: rgb(180 83 9);
}
.fairy {
    background-color: rgb(190 24 93);
}
.fighting {
    background-color: rgb(248 113 113);
}
.psychic {
    background-color: rgb(131 24 67);
}
.rock {
    background-color: rgb(120 53 15);
}
.ghost {
    background-color: rgb(49 46 129);
}
.ice {
    background-color: rgb(186 230 253);
}
.dragon {
    background-color: rgb(8 145 178);
}
.dark {
    background-color: rgb(3 7 18);
}
.steel {
    background-color: rgb(71 85 105);
}
.flying {
    background-color: rgb(148 163 184);
}

@keyframes showDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes closeShow {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes trasitionIn {
    0%{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    100%{
        opacity: 1;
        transform: rotateX(0);
    }
}

@keyframes transitionsStat {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.animate-stat{
    width: 0;
    transition: 2s ease-in-out width;
    
    /* animation: transitionsStat ease-in 2s; */
}

.open{
    -webkit-animation: showDown ease-out 0.45s;
}

.close {
    -webkit-animation: closeShow ease-out 0.45s;
}

.card-pokemon{
    animation: trasitionIn 2s;
}

.transition-background{
    transition-property: background-color, color;
    transition: 1s ease-in;
}

.transtion-header{
    transition: .15s ease-in-out;
}